html
  head 
    title="L1Ds Service@"+isLoggedIn
  
    style
      include style.css
  body 
    div(class="container")
      h2(class="pb-2 border-bottom" style="color: white; text-align: left")="No Permission for user : "+isLoggedIn

      br
      a(href="/home")="Home"       
include footer.pug